doctype html
html
  head

    //- Bring in the title from the .m file.
    title <ml2jade=page_title>

    //- Create a simple default style sheet that doesn't look terrible.
    style.
      :stylus
        h1, h2, h3, h4, h5, h6, body, p, a
          font-family sans-serif
        body
          padding 20px
        .container
          max-width 720px
        pre
          background-color #f0f0f0
          padding 20px
        figure img
          max-width 640px
        //- Uncomment the below to turn on section numbering.
        //-h1, body
        //-  counter-reset section
        //-h2:before
        //-  counter-increment section
        //-  content counter(section) ". "

    //- Alternately, don't define a stylesheet here, but link to one:
    //- link(rel="stylesheet" type="text/css" href="/my_styles.css")

    // Use MathJax for rendering equations.
    script(type="text/x-mathjax-config").
      MathJax.Hub.Config({
        TeX: { equationNumbers: { autoNumber: "all" } }
      });
    script(type='text/javascript', 
           src='http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML')

  body

    .container

      h1 <ml2jade=page_title>

      h4 Table of Contents
      <ml2jade=page_toc>
      
      //- Bring in the contents from the .m file.
      <ml2jade=page_content>

